<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/cohete.png' />
    <meta
      name='description'
      content='Un simple juego donde tenes que esquivar asteroides, compite con todos los del CURC '
    />
    <title>Space Rocks</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
